<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmvGoou10HFqdZYw10fnI66tGL5xH_NPg</string>
	<key>GCM_SENDER_ID</key>
	<string>780223963970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clinicaUlagosApp</string>
	<key>PROJECT_ID</key>
	<string>clinica-ulagos-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clinica-ulagos-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780223963970:ios:39fd201df360c79a5b5edb</string>
</dict>
</plist>